.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 350px;
  left: 100px;
}

.baloon {
  position: absolute;
  top: 600px;
  left: 25px;
  z-index: 1;
}

.speach {
  position: absolute;
  font-size: 25px;
  top: 641px;
  left: 42px;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 780px;
  left: 250px;
}

p {
  top: 300px;
}